<div class="container-carousel">

<mdb-carousel [controls]="true"  [animation]="'fade'" >
  <mdb-carousel-item>
    <img src="../../assets/img/2.svg" class="d-block w-100"
    alt="..."/>
    <div class="carousel-caption  d-md-block">
      <div class="container-text">
        <div class="h5-carousel ">
          <h5>¿Qué es Prode Qatar 2022?</h5>
        </div>
        <div class="p-carousel">
          <p>Es un juego online de pronóstico deportivo para el Mundial de Fútbol Qatar 2022. Juega y compite con miles jugadores de todo el mundo. El jugador que más partidos acierta <span>"SE LLEVA EL POZO"</span>
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../assets/img/10.svg" class="d-block w-100"
    alt="..."/>
    <div class="carousel-caption  d-md-block">
      <div class="container-text">
        <div class="h5-carousel ">
          <h5>¿Cómo se juega al prode 2022?</h5>
        </div>
        <div class="p-carousel">
          <p>Tienes que comprar tu entrada y con ella puedes pronosticar los resultados de los diferentes juegos, para ello deberás tener instalada la billetera MetaMask y tener la moneda Matic en tu Wallet.
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../assets/img/8.svg" class="d-block w-100"
    alt="..."/>
    <div class="carousel-caption  d-md-block">

      <div class="container-text">
        <div class="h5-carousel ">
          <h5>¿Cuánto vale la entrada?</h5>
        </div>
        <div class="p-carousel">
          <p>Para jugar y competir tienes que comprar una entrada por el valor de 25 (Matic). Una vez que ya tienes la entrada puedes empezar a pronosticar los resultados de los partidos. Recuerda que la entrada solo vale para la fase de grupos. Luego cuando entremos en la segunda fase habrá otro prode distinto.
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../assets/img/img4.jpg" class="d-block w-100"
    alt="..."/>
    <div class="carousel-caption  d-md-block">
      <div class="container-text">
        <div class="h5-carousel ">
          <h5>¿Cómo se elige el ganador?</h5>
        </div>
        <div class="p-carousel">
          <p>El jugador que más puntos tenga va ser el ganador del pozo.
            Si hay varios jugadores con la misma cantidad de puntos el pozo se reparte entre los ganadores. Recuerda que
            el
            prode se divide en dos partes, la entrada que adquieras sirve para esta primera parte de fase de grupos. Es
            decir el jugador que acierte más resultados de los 48 partidos que se jugarán, será el acreedor del pozo.
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
