.container-carousel {
  width: 100%;
  margin: 50px auto;

  mdb-carousel-item {
    width: 100%;

    .carousel-caption {
      height: 100%;
      display: flex;
      justify-content: center;

      .container-text {
        width: 100%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-color: #0000009a;

        .h5-carousel {
          width: 100%;

          h5 {
            width: 100%;
            font-size: 80px;
          }
        }

        .p-carousel {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          p {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            text-align: center;
            flex-direction: column;

            span {
              color: #ff0000;
              text-decoration: underline;
              font-weight: bold;
            }
          }
        }
      }
    }


  }
}

@media screen and(max-width:1024px) {
  .container-carousel {
    width: 100%;
    margin: 50px auto;

    mdb-carousel-item {

      .carousel-caption {
        height: 100%;

        .container-text {
          margin: 25px auto;
          padding: 15px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          height: 100%;
          background-color: #0000009a;

          .h5-carousel {
            width: 100%;
            padding: 10px;

            h5 {
              width: 100%;
              font-size: 30px;
            }
          }

          .p-carousel {
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            p {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 200px;
              text-align: center;
              flex-direction: column;

              span {
                color: #ff0000;
                text-decoration: underline;
                font-weight: bold;
              }
            }
          }
        }
      }


    }
  }
}

@media screen and(max-width:768px) {
  .container-carousel {
    width: 100%;
    margin: 50px auto;

    mdb-carousel-item {

      .carousel-caption {
        height: 100%;

        .container-text {
          margin: 25px auto;
          padding: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          height: 100%;
          background-color: #0000009a;

          .h5-carousel {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h5 {
              width: 100%;
              font-size: 25px;
            }
          }

          .p-carousel {
            padding: 5px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;


            p {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 200px;
              text-align: center;
              flex-direction: column;
              font-size: 15px;

              span {
                color: #ff0000;
                text-decoration: underline;
                font-weight: bold;
                font-size: 15px;
              }
            }
          }
        }
      }


    }
  }
}

@media screen and(max-width:600px) {
  .container-carousel {
    width: 100%;
    margin: 50px auto;

    mdb-carousel-item {

      .carousel-caption {
        height: 100%;

        .container-text {
          margin: 25px auto;
          padding: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          height: 100%;
          background-color: #0000009a;

          .h5-carousel {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h5 {
              width: 100%;
              font-size: 20px;
            }
          }

          .p-carousel {
            padding: 5px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;


            p {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100px;
              text-align: center;
              flex-direction: column;
              font-size: 10px;

              span {
                color: #ff0000;
                text-decoration: underline;
                font-weight: bold;
                font-size: 10px;
              }
            }
          }
        }
      }


    }
  }
}

@media screen and(max-width:400px) {
  .container-carousel {
    width: 100%;
    margin: 40px auto;

    mdb-carousel-item {
      width: 100%;
      height: 100%;

      .carousel-caption {
        height: 100%;
        padding: 0px;

        .container-text {
          margin: 25px auto;
          padding: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          height: 100%;
          background-color: #0000009a;

          .h5-carousel {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 80px;

            h5 {
              width: 100%;
              font-size: 15px;
              height: auto;
              margin: auto;
            }
          }

          .p-carousel {
            padding: 3px 5px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;


            p {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: auto;
              text-align: center;
              flex-direction: column;
              font-size: 8px;

              span {
                color: #ff0000;
                text-decoration: underline;
                font-weight: bold;
                font-size: 10px;
              }
            }
          }
        }
      }


    }
  }
}
